<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style type="text/css">

    </style>
</head>
<body>
<div>
    <form>
        <span>薪酬标准编号</span><input type="text" readonly th:value="${salaryStandard.getStandardCode()}">
        <span>薪酬标准名称</span><input type="text" readonly th:value="${salaryStandard.getStandardName()}"><br>
        <span>薪酬总额</span><input type="text" readonly th:value="${salaryStandard.getTotal()}">
        <span>制定人</span><input type="text" readonly th:value="${salaryStandard.getFormulator()}"><br>
        <span>登记人</span><input type="text" readonly th:value="${salaryStandard.getRegisterPerson()}"><br>

        <span>审核意见</span><textarea></textarea>
    </form>
</div>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">薪酬项目名称</th>
            <th scope="col">金额</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="salaryStandardDetail,status:${salaryStandardDetailList}">
            <th scope="row">1</th>
            <td th:text="${salaryStandardDetail.getItemName()}"></td>
            <td th:text="${salaryStandardDetail.getItemAmount()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>