<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <title>薪资标准审核</title>
    <script>
        $(function () {
            calculateSum();
        });

        //计算薪酬总额
        function calculateSum() {
            let sum = 0.0;
            $(".itemAmount").each(function () {
                let itemAmount = parseFloat($(this).val());
                sum = add(sum, itemAmount);
            });
            $("#staTotal").val(sum);
        }

        //精确加法
        function add(num1, num2) {
            const num1Digits = (num1.toString().split('.')[1] || '').length;
            const num2Digits = (num2.toString().split('.')[1] || '').length;
            const baseNum = Math.pow(10, Math.max(num1Digits, num2Digits));
            return (num1 * baseNum + num2 * baseNum) / baseNum;
        }
    </script>
</head>
<body>
<div style="width: 960px;margin:auto">
    <div>
        <form>
            <input type="hidden" th:value="${salaryStandard.getId()}" id="idHidden">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="staCode">薪酬标准编号</label>
                    <input type="text" class="form-control" id="staCode" th:value="${salaryStandard.getStandardCode()}"
                           readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="staName">薪酬标准名称</label>
                    <input type="text" class="form-control" id="staName" th:value="${salaryStandard.getStandardName()}"
                           readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="staTotal">薪酬总额</label>
                    <input type="text" class="form-control" id="staTotal" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="formulator">制定人</label>
                    <input type="text" class="form-control" id="formulator" th:value="${salaryStandard.getFormulator()}"
                           readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="register">登记人</label>
                    <input type="text" class="form-control" id="register"
                           th:value="${salaryStandard.getRegisterPerson()}"
                           readonly>
                </div>
                <input type="text" readonly
                       th:value="${#dates.format(salaryStandard.getCreateDate(),'MM/dd/yyyy')}">
            </div>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">薪酬项目名称</th>
                <th scope="col">金额</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="salaryStandardDetail,status:${salaryStandardDetailList}">
                <th scope="row" th:text="${status.count}"></th>
                <td th:text="${salaryStandardDetail.getItemName()}"></td>
                <td>
                    <input type="text" class="form-control itemAmount"
                           th:value="${#numbers.formatDecimal(salaryStandardDetail.getItemAmount(), 1, 2)}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{/salaryStandard}">
            <button type="button" class="btn btn-outline-primary">返回</button>
        </a>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>