<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid #00243F;
        }
    </style>
    <script th:src="@{/js/jquery.js}"></script>
    <script>

        var DataDeal = {
            //将从form中通过$('#form').serialize()获取的值转成json
            formToJson: function (data) {
                data = data.replace(/&/g, "\",\"");
                data = data.replace(/=/g, "\":\"");
                data = "{\"" + data + "\"}";
                return data;
            },
        };


        $(document).ready(function () {
            //
            var updateArr = new Array();
            var i = 0;
            //添加，页面增加新的空行
            $('#insert').click(function () {
                var tr = '<tr>\n' +
                    '            <input type="hidden" name="id" >\n' +
                    '            <td>\n' +
                    '                <input type="checkbox">\n' +
                    '            </td>\n' +
                    '            <td >\n' +
                    '            </td>\n' +
                    '            <td>\n' +
                    '                <input type="text" name="code" >\n' +
                    '            </td>\n' +
                    '            <td>\n' +
                    '                <input type="text" name="name" >\n' +
                    '            </td>\n' +
                    '            <td>\n' +
                    '                <input type="text" name="intro" >\n' +
                    '            </td>\n' +
                    '            <td>\n' +
                    '                <input type="checkbox" name="enable" value="3">\n' +
                    '            </td>\n' +
                    '        </tr>';
                $(" table").append(tr);
            });
            //获取表格的修改状态
            $(":input").change(function () {
                var hidden = $(this).parent().parent().children("input").val();
                if (updateArr.indexOf(hidden) == -1) {
                    updateArr[i] = hidden;
                    i++;
                }
            });
            //保存，保存修改和添加的数据
            $.fn.serializeJson = function () {
                var jsonData1 = {};
                var serializeArray = this.serializeArray();
                // 先转换成{"id": ["12","14"], "name": ["aaa","bbb"], "pwd":["pwd1","pwd2"]}这种形式
                $(serializeArray).each(function () {
                    if (jsonData1[this.name]) {
                        if ($.isArray(jsonData1[this.name])) {
                            jsonData1[this.name].push(this.value);
                        } else {
                            jsonData1[this.name] = [jsonData1[this.name], this.value];
                        }
                    } else {
                        jsonData1[this.name] = this.value;
                    }
                });
                // 再转成[{"id": "12", "name": "aaa", "pwd":"pwd1"},{"id": "14", "name": "bb", "pwd":"pwd2"}]的形式
                var vCount = 0;
                // 计算json内部的数组最大长度
                for (var item in jsonData1) {
                    var tmp = $.isArray(jsonData1[item]) ? jsonData1[item].length : 1;
                    vCount = (tmp > vCount) ? tmp : vCount;
                }

                if (vCount > 1) {
                    var jsonData2 = new Array();
                    for (var i = 0; i < vCount; i++) {
                        var jsonObj = {};
                        for (var item in jsonData1) {
                            jsonObj[item] = jsonData1[item][i];
                        }
                        jsonData2.push(jsonObj);
                    }
                    return JSON.stringify(jsonData2);
                } else {
                    return "[" + JSON.stringify(jsonData1) + "]";
                }
            };
            $('#save').click(function () {
                // var data = $('#saveSalaryItemForm').serialize();//获取值
                // data = decodeURIComponent(data, true);//防止中文乱码
                // var json = DataDeal.formToJson(data);//转化为json
                var jsonStr = $('#saveSalaryItemForm').serializeJson();
                alert(jsonStr);
                $.ajax({
                    type: "POST",
                    url: "/saveSalaryItem",
                    contentType: "application/json;charset=utf-8",
                    data: jsonStr,
                    success: function (data) {
                        if (data == "success") {
                            alert(1);
                        } else {
                            alert(2);
                        }
                    }
                });
            });
            //删除，异步删除，并remove元素

        });

    </script>
</head>
<body>
<button id="save">保存</button>
<button id="insert">添加</button>
<button id="delete">删除</button>
<form name="salaryItemList" id="saveSalaryItemForm">
    <table id="salaryItemTable">
        <thead>
        <th>选择</th>
        <th>序号</th>
        <th>编号</th>
        <th>名称</th>
        <th>描述</th>
        <th>提交</th>
        </thead>
        <tbody>
        <tr th:each="salaryItem,status:${salaryItemList}" th:id="${salaryItem.getId()}">
            <input type="hidden" th:name="id" th:value="${salaryItem.getId()}">
            <td>
                <input type="radio" class="si">
            </td>
            <td th:text="${status.count}">
            </td>
            <td>
                <input type="text" th:name="itemCode" th:value="${salaryItem.getItemCode()}" class="si">
            </td>
            <td>
                <input type="text" th:name="itemName" th:value="${salaryItem.getItemName()}" class="si">
            </td>
            <td>
                <input type="text" th:name="introduction" th:value="${salaryItem.getIntroduction()}" class="si">
            </td>
            <td th:if="${salaryItem.getEnable()}==3">
                <input type="checkbox" th:name="enable"
                       checked="checked" value="3" class="si">
            </td>
            <td th:if="${salaryItem.getEnable()}==4">
                <input type="checkbox" th:name="enable" value="3" class="si">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>