<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <th>选择</th>
            <th>序号</th>
            <th>编号</th>
            <th>名称</th>
            <th>描述</th>
            <th>提交</th>
        </thead>
        <tbody>
        <tr role="row" class="odd" th:each="salaryItem,status:${salaryItemList}">
            <td>
                <input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;">
            </td>
            <td class="sorting_1" th:text="${status.count}">
                <input type="hidden" th:value="${salaryItem.getId()}">
            </td>
            <td>
                <input type="text" th:value="${salaryItem.getItemCode()}">
            </td>
            <td>
                <input type="text" th:value="${salaryItem.getItemName()}">
            </td>
            <td>
                <input type="text" th:value="${salaryItem.getIntroduction()}">
            </td>
            <td th:if="${salaryItem.getEnable()}==3">
                <input type="checkbox"
                       th:checked="true">
            </td>
            <td th:if="${salaryItem.getEnable()}==4">
                <input type="checkbox">
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>