<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.hr.dao.PaymentDepDao">
    <select id="listPaymentDep" parameterType="int" resultType="PaymentDep">
        select * from paymentDep where paymentId = #{paymentId}
    </select>
</mapper>