<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.hr.dao.PaymentDao">
    <select id="listPayment" resultType="Payment">
        SELECT
        `id`,
        `paymentCode`,
        `paymentCount`,
        `lastTime`,
        `status`,
        `peopleNumber`
        FROM
        payment
    </select>
    <insert id="insertPayment" parameterType="Payment">
        INSERT INTO `payment` (
 `paymentCode`,
  `paymentCount`,
  `lastTime`,
  `status`,
  `peopleNumber`,
  depId
)
VALUES
  (
     #{paymentCode},
  #{paymentCount},
  #{lastTime},
  #{status},
  #{peopleNumber},
  #{depId}
  )
    </insert>
    <update id="updatePayment" parameterType="Payment">

    </update>
    <select id="listPaymentByCode" resultType="Payment" parameterType="String">
        select * from payment where paymentCode = #{paymentCode}
    </select>
    <select id="getPaymentByCodeAndDep" resultType="Payment">

    </select>
</mapper>