<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.hr.dao.SalaryStandardDao">
    <select id="listSalaryStandard" parameterType="int" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `total`, `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`,
        `enable`,`introduction`
        FROM
        `salaryStandard`
    </select>
    <select id="getSalaryStandardById" parameterType="int" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `total`, `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`,
        `enable`,`introduction`
        FROM
        `salaryStandard`
        WHERE `id` = #{id}
    </select>
    <update id="reviewSalaryStandard" parameterType="SalaryStandard">
        UPDATE `salaryStandard` SET `reviewOpinion` = #{reviewOpinion},`status` = #{status} WHERE `id` = #{id}
    </update>
</mapper>