<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.hr.dao.SalaryStandardDao">
    <select id="listSalaryStandard" parameterType="int" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `total`, `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`,
        `enable`,`introduction`
        FROM
        `salaryStandard`
    </select>
    <select id="getSalaryStandardById" parameterType="int" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `total`, `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`,
        `enable`,`introduction`
        FROM
        `salaryStandard`
        WHERE `id` = #{id}
    </select>
    <update id="reviewSalaryStandard" parameterType="SalaryStandard">
        UPDATE `salaryStandard` SET `reviewOpinion` = #{reviewOpinion},`status` = #{status} WHERE `id` = #{id}
    </update>
    <select id="listSalaryStandardByCondition" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `total`, `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`,
        `enable`,`introduction`
        FROM
        `salaryStandard`
        WHERE
        1=1
        <if test="standardCode!=null and standardCode != ''">
            AND `standardCode` = #{standardCode}
        </if>
        <if test="status!= -1">
            AND `status` = #{status}
        </if>
        <if test="start == null">
            AND createDate BETWEEN '0000-0-0' AND #{end}
        </if>
        <if test="end == null">
            AND createDate BETWEEN #{start} AND (SELECT NOW())
        </if>
        <if test="start != null and end != null">
            AND createDate BETWEEN #{start} AND #{end}
        </if>
    </select>
</mapper>