<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.hr.dao.SalaryStandardDao">
    <select id="listSalaryStandard" parameterType="int" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`
        FROM
        `salaryStandard`
    </select>
    <select id="getSalaryStandardById" parameterType="int" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
       `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`
        FROM
        `salaryStandard`
        WHERE `id` = #{id}
    </select>
    <update id="reviewSalaryStandard" parameterType="SalaryStandard">
        UPDATE `salaryStandard` SET `reviewOpinion` = #{reviewOpinion},`status` = #{status} WHERE `id` = #{id}
    </update>
    <select id="listSalaryStandardByCondition" resultType="SalaryStandard">
        SELECT `id`,`standardCode`,`standardName`,
        `formulator`, `registerPerson`,
        `createDate`, `reviewOpinion`,
        `changeReason`, `status`
        FROM
        `salaryStandard`
        WHERE
        1=1
        <if test="standardCode!=null and standardCode != ''">
            AND `standardCode` like CONCAT('%',#{standardCode},'%')
        </if>
        <if test="status!= -1">
            AND `status` = #{status}
        </if>
        <if test="start == null and end != null">
            AND createDate BETWEEN '0000-0-0' AND #{end}
        </if>
        <if test="end == null and start !=null">
            AND createDate BETWEEN #{start} AND (SELECT NOW())
        </if>
        <if test="start != null and end != null">
            AND createDate BETWEEN #{start} AND #{end}
        </if>
    </select>
    <update id="updateSalaryStandard" parameterType="SalaryStandard">
         UPDATE `salaryStandard` SET
         `standardCode` = #{standardCode},
        `standardName` = #{standardName},
        `formulator` = #{formulator},
        `registerPerson` = #{registerPerson},
        `createDate` = #{createDate},
        `changeReason` = #{changeReason},
        `reviewOpinion` = #{reviewOpinion},
        `status` = #{status}
         WHERE `id` = #{id}
    </update>
    <insert id="insertSalaryStandard" parameterType="SalaryStandard">
      INSERT INTO salaryStandard (
      `standardCode`,
      `standardName`,
      `formulator`,
      `registerPerson`,
      `createDate`,
      `status`

      ) VALUES (
      #{standardCode},
      #{standardName} ,
      #{formulator} ,
      #{registerPerson},
      #{createDate},
      #{status}
      )
    </insert>
    <delete id="deleteSalaryStandard" parameterType="int">
        delete from`salaryStandard` where `id` = #{id}
    </delete>
</mapper>